@{
    ViewData["Title"] = "Artist Page";

}
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Artists</h1>
    </div>
</div>

@section scripts{
    <script src="~/js/Artist.js"></script>
}
@* Artists Index.cshtml *@