@{
    ViewData["Title"] = "Artist Page";

}
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Artists</h1>
    </div>
</div>
<div id="artistApp" class="row">
    <div class="col-10 mx-auto">
        <section v-if="loading" class="text-center">
            <div class="spinner-grow" role="status"></div><strong>Loading..</strong>
        </section>
        <section v-if="hasError" class="alert alert-danger text-center shadow-sm ">
            <p>{{apiErrorInfo}}</p>
        </section>
        <section v-if="hasSuccess" class="alert alert-success text-center shadow-sm">
            <p>{{apiErrorInfo}}</p>
        </section>
        <div class="row">
            <div v-if="!loading" class="col-md-6 mb-4">
                <ul class="list-group">
                    <li class="list-group-item" v-for="artist in artists" v-on:click="GetArtistDetails(artist)">
                        <a>{{artist.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div v-if="currentArtist">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" v-model="currentArtist.id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" v-model="currentArtist.name" v-bind:disabled="isDisabled" />
                    </div>
                    <div class="form-group">
                        <label>Date of birth</label>
                        <input v-if="isDisabled" type="text" class="form-control" v-model="currentArtist.dob" v-bind:disabled="isDisabled" />
                        <input v-else type="date" class="form-control" v-model="currentArtist.dob"/>
                    </div>
                    <div class="form-group" v-if="isAuthorized">
                        <div class="btn-group" role="group" aria-label="Buttons for category">
                            <button v-on:click="EditArtist(false)" type="button" class="btn btn-group btn-primary">Create</button>
                            <button v-on:click="EditArtist(true)" type="button" class="btn btn-group btn-primary">Edit</button>
                            <button v-on:click="SaveArtist" type="button" class="btn btn-success btn-group">Save</button>
                            <button v-on:click="DeleteArtist" type="button" class="btn btn-danger btn-group">Delete</button>
                            <button v-on:click="isDisabled = true" type="button" class="btn btn-danger btn-group">Cancal</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/Artist.js"></script>
}
@* Artists Index.cshtml *@