@{
    ViewData["Title"] = "BoardGame Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Boardgames</h1>
    </div>
</div>

@* BoardGame Index.cshtml *@