@{
    ViewData["Title"] = "PlayedGame Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Played Games</h1>
    </div>
</div>


@*PlayedGame Index.cshtml*@